<template>
  <div class="home">
    <b-container fluid="sm">
      <b-row>
        <b-col></b-col>
      </b-row>
      <b-row class="justify-content-md-center">

        <b-col cols="12" md="auto">
          <ListNews page=0></ListNews>
          <div >
            <b-pagination-nav align="center" :link-gen="linkGen" :number-of-pages="$store.state.max_page" use-router></b-pagination-nav>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import ListNews from "@/components/ListNews";

export default {
  name: 'Home',
  components: {
    ListNews
  },
  methods: {
    linkGen(pageNum) {
      return `/news/page/${pageNum-1}`
    }
  }
}
</script>
