<template>
  <div class="home">
    <b-container fluid="sm">
      <b-row>
        <b-col></b-col>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-col></b-col>
        <b-col class="img-fit" style="width :100%" cols="12" md="auto">
          <div>
            <div style="display:inline-flex;">
              <b-link @click="hasHistory() ? $router.go(-1) : $router.push('/')"><h5>&laquo; Back</h5></b-link>
              <div style="display:inline-flex;" v-if="$store.state.username==news_data.owner">
                <b-link v-on:click="goToEdit" style="margin-left:1rem"><h5>Edit</h5>
                </b-link>
                <b-link v-on:click="deleteNews" style="margin-left:1rem">
                  <h5>Delete</h5>
                </b-link>
              </div>
            </div>
            <div><h1>
              {{ news_data.name }}
            </h1>
            </div>
            <div>
              <small class="text-muted">{{
                  "Автор: " + news_data.owner + " " + news_data.updated_at.toLocaleString("ru")
                }}</small>
            </div>
          </div>
          <div v-html="news_data.content"></div>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
      </b-row>
    </b-container>
  </div>

</template>

<script>
import {marked} from 'marked';
import store from '../store';

export default {
  beforeRouteEnter(to, from, next) {
    store.dispatch("GET_NEWS", {"news_id": to.params.id}).then(() => {
      next();
    })
  },
  name: "NewsPage",
  beforeMount() {
  },
  mounted() {
    console.log(this.$store.state.news_cache)
  },
  created() {
    console.log("$route", this.$route)
    this.news_data = this.$store.getters.GET_NEWS_FROM_CACHE(this.$route.params.id)
    this.news_data.content = marked(this.news_data.content)
    console.log("GEt DAta", this.news_data)

  },
  methods: {
    deleteNews() {
      this.$bvModal.msgBoxConfirm('Are you sure?')
          .then(value => {
            if (value) {
              this.$store.dispatch("REMOVE_NEWS", {id: this.news_id})
            }
          })
          .catch(err => {
            console.log(err)
            // An error occurred
          })
    },
    goToEdit() {
      this.$router.push('/news/editor/' + this.news_id)

    },
    hasHistory() {
      return window.history.length > 2
    }
  },

  data() {
    return {
      news_id: this.$route.params.id,
      news_data: {}
    }

  }
}
</script>

<style>
.sprava {

  float: right; /* Положение справа */

  background: #fd0; /* Цвет фона */


}

.img-fit > * img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>