<template>
  <div class="home">
    <b-container fluid="sm">
      <b-row>
        <b-col></b-col>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-col></b-col>
        <b-col class="dark" style="" cols="12">
          <div>
            <b-form-input style="margin-top: 1rem; margin-bottom : 1rem" placeholder="Название новости"
                          v-model="local_name"></b-form-input>
          </div>
          <div
              style="width:100%; height: 100%; border-radius: 0.3rem; background-color:rgb(58, 91, 125); color: #f8f9fa; padding: 0.3rem; box-shadow: 0 0 10px rgba(0,0,0,0.5);">
            <Ink v-bind:images="true" :appearance="appearance" v-model="local_edit_markdown"/>
          </div>
          <div style="margin-top:1rem; display: flex">
            <b-button style="margin-left: 0.3rem" v-on:click="takeEdit" variant="success">
              Опубликовать
            </b-button>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>

      </b-row>
    </b-container>
  </div>

</template>

<script>

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
//import store from '../store';
import Ink from '@writewithocto/vue-ink'
import store from "@/store";

export default {
  name: "NewsEditor",
  components: {
    Ink,
  },
  beforeRouteEnter(to, from, next) {
    console.log("beforeRouteEnter", to.params.id)
    if (to.params.id) {
      store.dispatch("GET_NEWS", {"news_id": to.params.id}).then(() => {
        next();
      })
    } else {
      next();
    }
  },
  beforeMount() {
  },
  mounted() {

  },
  created() {
    if (this.$route.params.id) {
      this.news_id = this.$route.params.id;
      this.local_name = this.$store.state.news_cache[this.$route.params.id].name
      this.local_edit_markdown = this.$store.state.news_cache[this.$route.params.id].content

    }

  },
  methods: {
    takeEdit() {
      if (this.news_id) {
        this.updateNews()
      } else {
        this.addNews()
      }

    },
    addNews() {
      this.$store.dispatch("ADD_NEWS", {name: this.local_name, content: this.local_edit_markdown}).then(
          () => {
            localStorage.local_name = "";
            localStorage.local_edit_markdown = "";
          }
      )
    },
    updateNews() {
      this.$store.dispatch("UPDATE_NEWS", {
        news_id: this.news_id,
        name: this.local_name,
        content: this.local_edit_markdown
      }).then(
          () => {


          }
      )

    }
  },
  watch: {
    local_edit_markdown(newValue) {
      if (!this.news_id) {
        localStorage.local_edit_markdown = newValue;
      }


    },
    local_name(newValue) {
      if (!this.news_id) {
        localStorage.local_name = newValue
      }
    }

  },
  data() {
    return {
      news_id: 0,
      local_name: localStorage.local_name,
      appearance: 'dark',
      local_edit_markdown: localStorage.local_edit_markdown
    }

  }
}
</script>

<style>

.dark {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: Gainsboro;
}

.img-fit > * img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>