<template>
  <div>
    <b-container fluid="sm">
      <b-row>
        <b-col></b-col>
      </b-row>
      <b-row class="justify-content-md-center">
        <b-col></b-col>
        <b-col cols="12" md="auto">
          <ListNews style="margin-top: 2vh" v-bind:page="now_page"></ListNews>
          <div>
            <b-pagination-nav align="center" :link-gen="linkGen" :number-of-pages="$store.state.max_page"
                              use-router></b-pagination-nav>
          </div>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>

      </b-row>
    </b-container>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import ListNews from "@/components/ListNews";
import {marked} from "marked";

export default {
  name: 'News',
  components: {
    ListNews
  },
  created() {
    this.$watch(
        () => this.$route.params,
        () => {
          this.now_page = Number(this.$route.params.page);
          console.log(this.$route.params.page)
          this.list_news = this.list_news.map(news => {
            news.content = marked(news.content, {sanitize: true});
            return news
          })
        },
        // fetch the data when the view is created and the data is
        // already being observed
        {immediate: true}
    )

  },
  data() {
    return {
      now_page: this.$route.params.page
    }
  },
  methods: {
    linkGen(pageNum) {
      return `/news/page/${pageNum-1}`
    }
  },
  updated() {
  }
}
</script>
