<template>
  <div style="padding-bottom: 5%">
    <b-navbar class="navbar navbar-expand-lg navbar-light bg-light" type="dark" variant="dark">
      <b-container fluid>
        <b-navbar-nav class="collapse navbar-collapse justify-content-center" align="left">
          <b-nav-item v-on:click="router_l.push('/news/0')">Home</b-nav-item>
          <b-nav-item v-on:click="router_l.push('/add_news')">Add News</b-nav-item>
          <b-nav-item v-if="!this.$store.state.username" v-on:click="router_l.push('/login')">Login</b-nav-item>
        </b-navbar-nav>
      </b-container>
    </b-navbar>
  </div>
</template>

<script>
import router from '../router'

export default {
  name: "FooterBar",
  data() {
    return {
      router_l: router
    }
  }
}
</script>

<style scoped>


</style>