<template>
  <div>
    <h1 v-if="page ===0">Новости!</h1>
    <h5 v-if="page ===0">Новостная площадка в формате markdown :></h5>
    <b-card-group columns>
      <b-card
          v-on:click="$router.push(`/news/${news.id}`)"
          class="img-fit"
          v-for="news in list_news"
          v-bind:title="news.name"
          v-bind:key="news.id"
      >
        <small class="text-muted">{{"Автор: " + news.owner + " " +news.updated_at.toLocaleString("ru")}}</small>
        </b-card>
    </b-card-group>
  </div>

</template>

<script>


export default {
  name: "ListNews",
  props: {
    page: Number
  },
  created() {
    this.$watch(
        () => this.page,
        () => {
          this.generateNews()
        },
        { immediate: true }
    )
  },
  data() {
    return {
      list_news: undefined,
    }
  },
  beforeMount() {
    console.log('beforeMount', this.$store.pages)
  },
  updated() {
    console.log("UPDTAE", this.page)
  },
  methods : {
    generateNews(){
      this.$store.dispatch("DOWNLOAD_PAGE", {"page": this.page}).then(() => {
        this.list_news = this.$store.getters.GET_PAGE(this.page)
      })

    }
  },
  mounted() {
    this.generateNews()

  }
}
</script>

<style>
.card{
  transition: 0.3s;

}
.card:hover{
  transition: 0.4s;
  z-index: 100000;
  transform: scale(1.05);
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.card:active{
  background-color : darkgrey;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

</style>


<!--<b-card-group columns>-->
<!--<b-card  v-bind:key="news.id" v-for="news in list_news"-->
<!--         v-bind:title="news.name"-->
<!--         tag="article"-->
<!--         style="max-width: 20rem;"-->
<!--         class="mb-2"-->
<!--&gt;-->
<!--  <b-card-text>-->
<!--    Some quick example text to build on the card title and make up the bulk of the card's content.-->
<!--  </b-card-text>-->
<!--  <b-button href="#" variant="primary">Go somewhere</b-button>-->
<!--</b-card>-->
<!--</b-card-group>-->