<template>
  <section>
    <b-container>
      <b-row>
        <b-col></b-col>
        <b-col style="padding-top : 20%">
          <b-form v-on:submit="onSubmit">
            <label>Sing in</label>
            <b-form-group >
              <b-form-input type="text" v-model="form.username" id="text-username"></b-form-input>
              <b-form-input type="password" v-model="form.password" id="text-password"
                            aria-describedby="password-help-block"></b-form-input>
              <b-form-text id="password-help-block">
                Enter you password
              </b-form-text>
            </b-form-group>
            <b-button type="submit" variant="primary">Login</b-button>
          </b-form>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </section>

</template>

<script>


export default {
  name: "LoginForm",
  data() {
    return {
      form: {
        username: "",
        password: ""
      }
    }
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      this.$store.dispatch("LOGIN", {username: this.form.username, password: this.form.password})
    },
  }
}
</script>

<style scoped>
input {
  margin-top : 10px;
}
</style>