<template>
  <div style="">
    <b-navbar class="navbar navbar-expand-lg navbar-light bg-light" type="dark" variant="dark">
      <b-container>
        <b-navbar-nav class="collapse navbar-collapse justify-content-center" align="center">
          <b-nav-item v-on:click="router_l.push('/news/page/0')">Home</b-nav-item>


          <b-nav-item v-if="this.$store.state.username"  v-on:click="router_l.push('/news/editor')">Add News</b-nav-item>
          <b-nav-item v-if="!this.$store.state.username" v-on:click="router_l.push('/login')">Login</b-nav-item>
          <b-nav-item v-if="this.$store.state.username"  v-on:click="logout">Logout</b-nav-item>
          <vue-multiple-themes
              :defaultTheme="'light'"
              :themeColorList="['light', 'dark']"
              :changeThemeOff="true"
          >
          </vue-multiple-themes>
        </b-navbar-nav>
      </b-container>
    </b-navbar>
  </div>
</template>

<script>
import router from '../router'
import VueMultipleThemes from "vue-multiple-themes";

export default {
  name: "NavBar",
  components: {VueMultipleThemes},
  data() {
    return {
      router_l: router
    }
  },
  methods : {
    logout()  {
      this.$store.commit("LOGOUT")
    }
  }
}
</script>

<style scoped>

</style>