<template>
  <div>
    <div>
      <NavBar></NavBar>
    </div>
    <router-view/>
    <VueFeedbackDialog @feedback="handleFeedback" />
  </div>

</template>
<script>
import NavBar from '@/components/NavBar';
import VueFeedbackDialog from 'vue-feedback-dialog'

export default {
  name: "App",
  components: {
    NavBar,
    VueFeedbackDialog
  },
  methods : {
    handleFeedback(value){
      this.$store.dispatch("FEEDBACK", {email : value.email, name: value.reporter, feedback : value.description})
      console.log(value)
    }
  }
}

</script>

<style>
:root {
  --app-background-color: #ffffff;
  --app-title-color: #333333;
  --app-subtitle-color: #555555;
}

[theme="dark"] {
  --app-background-color: #333333;
  --app-title-color: #ffffff;
  --app-subtitle-color: #dddddd;

}

[theme="dark"] * {
  color: #ffffff;
}
[theme="dark"]  .page-link {
  color: #333333;
}

[theme="dark"] .card-body {
  background-color: #3e3a3a;
}


.app-background {
  background-color: var(--app-background-color);
}

.app-title {
  color: var(--app-title-color);
}

.app-subtitle {
  color: var(--app-subtitle-color);
  padding-top: 10px;
}

.change-theme-box {
  cursor: pointer;
  color: var(--app-subtitle-color);
  font-size: 1em;
  font-weight: normal;
}

</style>

<!--<router-link to="/">Home</router-link>
    <router-link to="/about">Add News</router-link>
    <div v-if="!this.$store.state.username"> {{ " |" }}
      <router-link to="/login">Login</router-link>
    </div>-->